@font-face 
  font-family: "iconfont"
  src: url('common/fonts/iconfont.eot?t=1493102244378') /* IE9*/
  src: url('common/fonts/iconfont.eot?t=1493102244378#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('common/fonts/iconfont.woff?t=1493102244378') format('woff'), /* chrome, firefox */
  url('common/fonts/iconfont.ttf?t=1493102244378') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('common/fonts/iconfont.svg?t=1493102244378#iconfont') format('svg') /* iOS 4.1- */

// @font-face 
//   font-family: 'iconfont'
//   src: url('common/fonts/iconfont.eot')
//   src: url('common/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
//   url('common/fonts/iconfont.woff') format('woff'),
//   url('common/fonts/iconfont.ttf') format('truetype'),
//   url('common/fonts/iconfont.svg#iconfont') format('svg');

// .iconfont
//   font-family:"iconfont" !important
//   font-size:16px;font-style:normal
//   -webkit-font-smoothing: antialiased
//   -webkit-text-stroke-width: 0.2px
//   -moz-osx-font-smoothing: grayscale



.iconfont 
  font-family:"iconfont" !important
  font-size:16px
  font-style:normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-user:before  
	content: "\e655"

.icon-screen:before  
	content: "\e607"

.icon-iconlock:before  
	content: "\e619"

.icon-fanzhuanjingtou:before  
	content: "\e601"
